



.body{
    height: 500px;
    background-color: #33594A;
    background-image: url('./green-bg.jpg') !important;
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-x: right;
    width: 100% ;
    padding: 0;
}