---
import Layout  from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Items from "../components/Items.astro";
import Footer from '../components/Footer.astro';
import Cta from '../components/Cta.astro';
import '../styles/global.css'
import Navbar from '../components/Navbar.astro';
---

<Layout title="inmarketstores/Home">
	<section class=" flex flex-col w-[700px] mt-12  mx-auto md:w-full">
		<Navbar />
		<Header />
		<Items />
		<Cta />
		<Footer />
	</section>	
</Layout>
