---
import Layout from "../layouts/Layout.astro";
---




<Layout>
	<main>
      <section>
       <h2 class="flex justify-center mt-12 text-4xl">Available deals</h2>
      </section>
    </main>
</Layout>

<style>
    h1, h2{
        font-family: 'Playfair Display', serif;
    }

    .btn-news{
        background-color: #32594A;
        letter-spacing: 0.8px;
    }
</style>


