---
import Layout from "../layouts/Layout.astro";
import ProductCard from "./ProductCard";

---


<Layout>
	<main class="text-army">
      <section>
       <h2 class="flex justify-center m-12 text-4xl font-serif px-[3em] md:px-[6em]">Available deals</h2>
       <div class="px-12 md:flex ">
        <ProductCard client:idle/>
       </div>
      </section>
    </main>
</Layout>

<style>
    

    .btn-news{
        background-color: #32594A;
    }
</style>


