---
import Layout from "../layouts/Layout.astro";
import ProductCard from "./ProductCard";

---


<Layout>
	<main>
      <section>
       <h2 class="flex justify-center px-[6em] m-12 text-4xl font-serif">Available deals</h2>
       <div class="flex flex-row justify-center px-12">
        <ProductCard client:idle/>
       </div>
      </section>
    </main>
</Layout>

<style>
    

    .btn-news{
        background-color: #32594A;
    }
</style>


