---
import Layout from "../layouts/Layout.astro";
import '../styles/header.css'
---


<Layout>
<main>
    <div class='body '>
        <div>
            <section class="px-8">
                <h2 class="header flex flex-col justify-start text-6xl ">
                  <span class="text-1">Less overpaying.</span>
                  <span class="text-2">Shop more.</span>  
                  <span class="text-3 text-2xl mt-4 w-96">
                    Shop from your favourite brands here with us,
                    amazing amazon products, redbubble apparels etc.
                  </span>
                </h2>
            </section>

        </div>
    </div>
</main>
</Layout>


<style>
    h1,h2{
        font-family: 'Syne', sans-serif;
    }

   .text-1, .text-2{
    font-weight: 600;
    font-family: 'Syne', sans-serif;
   }
    .text-1, .text-3{
        color: #fffef0;
    }

    .text-3{
        kjlm
        font-size: 21px;
        line-height: 1.3em;
    }
    .text-2{
        color: #ffac7f;
    }

</style>