---
import Layout from "../layouts/Layout.astro";
import "../styles/card.css";
import Card from "./Card";
---

<Layout>
  <div class="main mt-12 px-[6em] w-full">
    <section class="flex flex-col justify-center text-center mx-auto">
      <h2 class="text-5xl mb-8 font-bold font-serif text-army">How Invmarketstore works</h2>
      <span class="desc-1 flex justify-center mx-auto text-center w-1/2 font-sans">
        We provide you with the best products available in the market, from
        amazon products to clothings from your favourite brands, tech products
        all in one spot.
      </span>
    </section>
    <div
      class="flex flex-row justify-center gap-6 mx-auto xl:flex flex-row px-12"
    >
      <Card
        title="Shop from Amazon"
        imgUrl="./amazon.png"
        desc="Shop your favourite amazon products, get quailty products reviewed for you so you don't have to. "
      />
      <Card
        title="Shop from Eufy"
        imgUrl="./eufy.png"
        desc="eufy has developed a new generation of easy-to-use smart home devices that are designed to enhance your life at home."
      />
      <Card
        title="Shop from anker"
        imgUrl="./anker.png"
        desc="Anker is the global leader in charging technology. This includes wireless charging, car charging, and our best-selling portable and wall chargers"
      />
    </div>
    <section class="flex justify-center text-center mx-auto">
      <span class="mt-8">And many more...</span>
    </section>
  </div>
</Layout>

<style>
  .main {
    /* height: ;
        background-color: #004449; */
  }

  .desc-1 {
    font-size: 21px;
  }
</style>
