---
import Layout from "../layouts/Layout.astro";
import "../styles/card.css";
import Card from "./Card";
---

<Layout>
  <div class="main w-full px-[3em] md:px-[6em]">
    <section 
    data-aos="fade-up"
    data-aos-delay="600"
    data-aos-duration="1300"
    class="flex flex-col justify-center text-center mx-auto">
      <h2  class="text-5xl mt-8 mb-8 font-medium font-serif text-army" >How Invmarketstore works</h2>
      <span class="desc-1 flex justify-center mx-auto text-army text-center w-full font-sans md:w-1/2">
        We provide you with the best products available in the market, from
        amazon products to clothings from your favourite brands, tech products
        all in one spot.
      </span>
    </section>
    <div
    
      class="flex flex-row flex-wrap  justify-center mt-6 gap-6 mx-auto xl:flex flex-row px-12"
    >
  
      <Card
        title="Checkout products"
        imgUrl="./amazon.png"
        desc="Find unbeatable deals with generous discounts on our marketplace."
      />
      <Card
        title="Pick the product"
        imgUrl="./eufy.png"
        desc="Select your desired product,and receive it directly from our trusted dealers. "
      />
      <Card
        title="Buy and stay tuned"
        imgUrl="./anker.png"
        desc="Buy your desired product at an even more affordable price and stay updated on similar deals by following us on social media."
      />
    </div>
  </div>
</Layout>

<style>
  .main {
    /* height: ;
        background-color: #004449; */
  }

  .desc-1 {
    font-size: 21px;
  }
</style>
