---
import Layout from "../layouts/Layout.astro";
---



<Layout>
    <main class="flex justify-center">
       <section>
        
       </section>
    </main>    
</Layout>

<style>
   main{
    background-image: url('./green-bg.jpg');
   }
  
</style>