---
import Layout from '../layouts/Layout.astro';
---



<Layout>
    <nav class="flex mb-12 font-semi-bold">
        <div class="mr-auto">
            <ul>
                <li class="font-semibold">Invmarketstores</li>
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="flex flex-row gap-8 font-semibold">
                <li><a href=""> Subscribe</a></li>
                <li><a href=""> Shop</a></li>
            </ul>
        </div>
    </nav>
</Layout>



