---
import Layout from '../layouts/Layout.astro';
---



<Layout>
    
    <nav class="flex px-[6em] font-semi-bold ">
        <div class="mr-auto ">
            <ul>
                <li class="header-text text-4xl font-semibold">Invmarketstores</li>
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="flex flex-row gap-8 font-semibold">
                <li><a href=""> Subscribe</a></li>
                <li><a href=""> Shop</a></li>
            </ul>
        </div>
    </nav>
</Layout>

<style>
    nav, .header-text{
        color: #fffef0;
    }
    nav{
        padding-top: 1em;
        margin-top: -3em;
        width: 100%;
        height: 100px;
        background-color: #33594A;
    }
</style>



